<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Start</title>
    <link rel="stylesheet" href="/stylesheets/start.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<nav>
    <div class="menu">
<div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
    </div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/book">Book Now</a></li>
        <div class="dropdown">
            <button class="dropbtn">
            <img src="https://t4.ftcdn.net/jpg/05/23/68/09/360_F_523680964_Mt9wSDPzR4lquYAgllGqHeUzhsVhYxiV.jpg" alt="Logo" class="logo">
            <span class="caret"></span>
            </button>
            <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">log out</a>
        
            </div>
        </div>
        
    </ul>
    </div>
</nav>
<div class="img"></div>
<div class="center">
    <div class="title">Welcome </div>
    <div class="sub_title">Book a cable car Ticket</div>
    <div class="btns">
    <button onclick="document.location='home.html';"><a href="/login">Learn More</a></button>
    <button onclick="document.location='booked.html';"><a href="/login" >Booked Now </a></button>
    </div>
</div>
</body>
</html>